.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  padding: 20px;
}

.user {
  margin: 10px;
}

.text {
  font: Calibri 20px;
  font-weight: bold;
}

.float-vertical-align {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.alert {
  margin-bottom: 0;
}

/* PAGE GLOBAL */

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
  height: 100vh;
  background-color: #eeeeee;
}

/* PAGE DE VUE DES BIERES */

.img-beer {
  object-fit: scale-down;
}

.card-link {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.card-beer {
  border-radius: 0.75rem;
  border: 1px solid #343a40;
}

.card-link:hover div.text-warning{
  text-decoration: underline;
  text-decoration-color: #ffc107;
}

.card-link:hover button.btn.btn-dark {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.tab-content{
  margin-top: 1.5rem;
}

:disabled {
  cursor: not-allowed;
}

.row-beers {
  margin-left: 15px!important;
  margin-right: 15px!important;
}